# Node modules

.next/
dist/

# Environment files
.env
# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
AppData/

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Maven
.m2/repository/

# Node
node_modules/
build/
